/*================================================
Default Colors Style
=================================================*/
$primary: #1B6F58;
$optional-color: #A68E74;
$black-color: #020000;
$paragraph: #687693;
$white-color: #ffffff;
$font-size: 16px;
$transition: .6s;

// New Colors Style
$optional-color2: #84ED00;
$optional-color3: #D0FF71;
$black-color2: #102B43;

/*================================================
Default Fonts Style
=================================================*/
$main-font-family: 'Inter', sans-serif;
$heading-font-family: 'Josefin Sans', sans-serif;